/* CourseWebPage.style.css */

html { font-family: sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: white; }
h1 { font-family: sans-serif; font-weight: normal; color: #377ba8; margin: 1rem 0; }
a { color: #377ba8; }
a.nounderline { text-decoration: none; }
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav h1 a { text-decoration: none; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; } .active { font-weight: bold; text-decoration: underline; color: #377ba8; }
.announcement_edit { display: block; padding: 0.5rem; text-decoration: underline; color: #377ba8; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; margin-bottom: 0.5rem; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: large; font-weight: bold; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; }
.post .body { white-space: pre-line; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; }

form.announcement_form { display: none; }
div.announcement_divContainer { cursor: pointer; display: flex; background: #eee; }
div.announcement_div { margin-left: 1%; margin-right: 1%; }
p.announcement_p { margin-top: 2%; margin-bottom: 2%; margin-left: 2%; margin-right: 2%; display: none; }

div.welcomeContainer { display: flex; background: #eee; }
div.welcome { margin-left: 2%; margin-right: 2%; color: #377ba8; }

div.homework_postContainer { display: flex; background: #eee; }
div.homework_post { margin-left: 0.5%; margin-right: 0.5%; }
header.homework_post { margin-bottom: 0.5rem; }

button { align-self: start; min-width: 10em; }

span.BCE { position: relative; /* define context for absolutely positioned CE */ }
	span.BCE:hover > .CE { opacity: 1; }
	span.BCE:hover { background: #f8efc0; }

span.CE
	{
	position: relative;
	margin-bottom: -100%;
	float: top;
	float: right;
	z-index: 1;
	width: 400px;
	color: black;
	opacity: 0;
	transition: .5s;
	padding: 10px;
	border-style: solid;
	border-color: #f5e79e;
	border-width: 1.5px;
	background: #f8efc0;
	font-family: sans-serif;
	font-size: medium;
	font-weight: normal;
	text-align: justify;
	}
	

