{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Homework{% endblock %}</h1>
	{% if g.user['username'] == 'admin' %}
		<a class="action" href="{{ url_for('homework.homework_create') }}">New Assignment</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% for homework in homeworks %}
		<article class="post">
			<header class="homework_post">
				<div class="homework_postContainer">
					<div class="homework_post">
						<h1>Homework {{ homework['id'] }}: <a href="/gg">{{ homework['title'] }}</a></h1>
						<span style="color: slategray; font-weight: bold; font-size: 110%;">Due: {{ homework['due'] }}</span>
						<div class="about">Keywords: {{ homework['keywords'] }}</div>
					</div>
				</div>
				{% if g.user['username'] == 'admin' %}
					<a class="action" href="{{ url_for('homework.homework_update', id=homework['id'] ) }}">Edit</a>
				{% endif %}
			</header>
		</article>
	{% endfor %}
{% endblock %}