{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Lectures{% endblock %}</h1>
	{% if g.user['username'] == 'admin' %}
		<a class="action" href="{{ url_for('lectures.lectures_create') }}">New Lecture</a>
	{% endif %}
{% endblock %}

{% block content %}
	{% for wk in range(1, M+1) %}
	  	{% for lecture in lectures %}
			{% if lecture['week'] == wk %}
				<article class="post">
					<header>
						<div style="position: relative;">
							<h1><span class="BCE">Lecture {{ lecture['id'] }}: <a href="/gg">{{ lecture['title'] }}</a><span class="CE">{{ lecture['summary'] }}</span></span></h1>
							<div class="about">{{ lecture['day'] }}</div>
						</div>
						{% if g.user['username'] == 'admin' %}
							<a class="action" href="{{ url_for('lectures.lectures_update', id=lecture['id'] ) }}">Edit</a>
						{% endif %}
					</header>
				</article>
			{% endif %}
			{% if lecture['week'] > wk %} <!-- THIS TO GET CORRECT <hr> AFTER EACH WEEK -->
		 		{% break %}
			{% endif %}
	  	{% endfor %}
	 	<hr>
	{% endfor %}
{% endblock %}